@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #516dff;
  color: #fff;
  font-family: 'Press Start 2P', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

/* screen 2 - selection ul 
all link with color white */
a {
  color: #fff;
}

h1 {
  line-height: 1.4;
}

.btn {
  border: 0;
  background-color: #fff;
  /* label */
  color: #516dff;
  /* button space */
  padding: 15px 20px;
  font-family: inherit;
  cursor: pointer;
}

/* effect makes il bit transparent */
.btn:hover {
  opacity: 0.9;
}
/* outline around button */
.btn:focus {
  outline: 0;
}

/* Each screen take whole view port */
.screen {
  /* image in a row on top of each other*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* full height and width */
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
}

/* Move the next screen in front of other 
-200 display the last screen*/
.screen.up {
  margin-top: -100vh;
}

/* list of 4 insects side by side */
.insects-list {
  display: flex;
  /* wrap on small screen */
  flex-wrap: wrap;
  justify-content: center;
  /* no bullet point */
  list-style-type: none;
  padding: 0;
}

.insects-list li {
  /* instead of close each other , break insect list them apart */
  margin: 10px;
}
/* make the button transparent */
.choose-insect-btn {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  /* wraps on small screen */
  width: 150px;
  height: 150px;
}

/* white effect on hover. 
Switch the blue and white color */
.choose-insect-btn:hover {
  background-color: #fff;
  color: #516dff;
}

/* white effect on click. MAkes button white */
.choose-insect-btn:active {
  background-color: rgba(255, 255, 255, 0.7);
}

.choose-insect-btn img {
  /* shrink image down because too big */
  /* Make the disappear behind first screen */
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/* Final screen 3/3 */
.game-container {
  position: relative;
  /* child element absolute within it */
}

.time,
.score {
  /* both on the same place */
  position: absolute;
  top: 20px;
}
/* one one side */
.time {
  left: 20px;
}

/* on the other side */
.score {
  right: 20px;
}

/* Annoyed message displayed with class visible*/
.message {
  line-height: 1.7;
  background-color: rgba(0, 0, 0, 0.5);
  /* background take full width */
  width: 100%;
  padding: 20px;
  /* in front of all */
  z-index: 100;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  /* INitially invisible. Way above */
  transform: translate(-50%, -150%);
  transition: transform 0.4s ease-in;
}

/* visible class change the opacity */
.message.visible {
  /* Then message visible */
  transform: translate(-50%, 150%);
  opacity: 1;
}

/* Style the insect inserted with JS */
.insect {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  /* position at the top */
  position: absolute;
  /* translate and X and Y . default y -150$ invisible 150 visible*/
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out;
  /* here top and left value added as random spot */
}

/* scale down to 0 makes insect go away */
.insect.caught {
  transform: translate(-50%, -50%) scale(0);
}

.insect img {
  /* insect image within the container img */
  width: 100px;
  height: 100px;
}
