@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
/* 100% of its container */
img {
  max-width: 100%;
}

/* largest container */
.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
}
/* img container */
.card-header {
  height: 200px;
}

/* Top image  fit entire space */
.card-header img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* below image container */
.card-content {
  background-color:pink;
  /* move from the side */
  padding: 30px;
}
/* below image title */
.card-title {
  height: 20px;
  margin: 0;
  color: yellow;
}

.card-excerpt {
  color: #777;
  margin: 10px 0 20px;

}
/* below text container */
.author {
  /* all aligned -> auto in flex row*/
  display: flex;
  background-color:blue;
}

/* div around the image */
.profile-img {
  border-radius: 50%;
  /* image pop out of the div */
  overflow: hidden;
  /* make the square smaller */
  height: 40px;
  width: 40px;
}

/* name and date*/
.author-info {
  display: flex;
  flex-direction: column;
  /* flex column top of each other */
  justify-content: space-around;
  /* space between date and name  */
  margin-left: 10px;
  /* move away from img */
  width: 100px;
}

.author-info small {
  color: #aaa;
  margin-top: 5px;
}

/* gray  behind the text with 4 light grays color*/
.animated-bg {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
   /* animate the bg position over 1 sec repeat itself forever*/
  animation: bgPos 1s linear infinite;
}

/* 3 gray lines all the way across */
.animated-bg-text {
  border-radius: 50px;
  display: inline-block;
  margin: 0;
  height: 10px;
  width: 100%;
}
/* change position on x axe effect left to right, 0% to 100% */
@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}
