* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* cover the entire page */
.background {
  background: url('https://images.unsplash.com/photo-1556745757-8d76bdb6984b')
    no-repeat center center/cover;
  position: absolute;
  /* 20px from ech edge for blur effect come away from edge*/
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
  /* avoid image cover in from tof everything */
  z-index: -1;
  /* start blur -> 0 no blur*/
  filter: blur(20px);
}
