@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.text {
  /* Makes text uppercase */
  text-transform: uppercase;
}
/* make huge logo fit*/
.logo {
  width: 150px;
}

/* Style the hamburger*/
.nav-btn {
  border: none;
  /* remove gray from icon */
  background-color: transparent;
  cursor: pointer;
  /* make the icon bigger */
  font-size: 20px;
}

/* Hamburger menu */
.open-btn {
  position: fixed;
  top: 10px;
  left: 10px;
}

/* All menu includes menu */
/* menu moved at the top left visible /invisible as translateX */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  /* menu and submenu -100 far in left not visible */
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

/* Makes the menu and submenu visible */
.nav.visible {
  transform: translateX(0);
}

/* 3 colors CSS property on top of each other */
.nav-black {
  background-color: rgb(34, 31, 31);
  width: 60%;
  /* no pass 480 no matter what */
  max-width: 480px;
  min-width: 320px;
  transition-delay: 0.4s;
}

.nav-black.visible {
  transition-delay: 0s;
}

.nav-red {
  background-color: rgb(229, 9, 20);
  width: 95%;
    /* wait time after click */
  transition-delay: 0.2s;
}

.nav-red.visible {
    /* wait time after click */
  transition-delay: 0.2s;
}

.nav-white {
  background-color: #fff;
  width: 95%;
  padding: 40px;
  /* close button absolute */
  position: relative;
    /* wait time after click */
  transition-delay: 0s;
}

.nav-white.visible {
  /* wait time after click */
  transition-delay: 0.4s;
}

.close-btn {
  opacity: 0.3;
  /* within nav white container */
  position: absolute;
  top: 40px;
  right: 30px;
}

/* initial UL */
.list {
  /* remove bullet point */
  list-style-type: none;
  /* remove padding and move to the left padding 0 */
  padding: 0;
}

.list li {
  /* list items spread out top bottom */
  margin: 20px 0;
}

/* UL within the list */
.list li a {
  color: rgb(34, 31, 31);
  font-size: 14px;
  /* text underline removed */
  text-decoration: none;
  text-transform: uppercase;
}

/* UL nested within the list */
.list ul {
  list-style-type: none;
  padding-left: 20px;
}
