@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center; /* haut/bas =  start/end */
  justify-content: center;/* haut/bas =  start/end */
  height: 100vh;/* location from top to bottom, mid = 100vh */
  overflow: hhidden;
  margin: 0;
}

.container {
  display: flex;
  /* flex-direction: column; if want them in row */
  width: 90vw; /* take 90% of the horizontal size page */
}

.panel {
  background-size: auto; /* image fitscontainer100 auto*/
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px; /**/
  color: #fff;
  cursor: ew-resize;
  flex: 0.5; /* whhill change on click to 5*/
  margin: 10px; /* separation between divs*/
  position: relative; /* container relative for h3 relative*/
  transition: all 100ms ease-in-out;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0 /* will display if activce*/
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}