@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  background-color: #f0f0f0;
}

h1 {
  margin: 50px 0 30px;
  text-align: center;
}

.faq-container {
  max-width: 600px;
  margin: 0 auto; /* center text auto top and bottom 0, left end right auto */
}

.faq {
  background-color: transparent; /* inactive transoarent */
  border: 1px solid #9fa4a8;
  border-radius: 10px; /* corner rounded */
  margin: 20px 0;/* spread out all the FAQ*/
  padding: 30px; /* add space inside FAQ all 4 sides*/
  position: relative; /* FAQ icons and button*/
  overflow: hidden;  /* nothing comes out of the container */
  transition: 0.3s ease; /* smoth when open and close */
}

.faq.active {
  background-color: #fff; /* active transoarent */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}
/*  before and after pseudo selector*/
.faq.active::before,
.faq.active::after {
  content: '\f075'; /* can be hello or any other value*/
  /* add icon with css with \ fbefore unicode value*/
  /* https://fontawesome.com/icons/comment?f=sharp&s=regular*/
  font-family: 'Font Awesome 5 Free';
  color: #2ecc71;
  font-size: 7rem;/* 7 times the size root html */
  position: absolute;/* within FAQ for both before and after*/
  opacity: 0.2;
  top: 20px;
  left: 20px;
  z-index: 0;
}
/* 2nf icone with the different colour, position and orientation */
.faq.active::before {
  color: #3498db;
  top: -10px;
  left: -30px;
  transform: rotateY(180deg);
}

.faq-title {
  margin: 0 35px 0 0;
}

.faq-text {
  /* no display unless active class 
  then active will display as block */
  display: none;
  margin: 30px 0 0;
}

/* expanded dont show the chevron*/
/* contracted dont show the x or times*/

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: 0; /* take away boarder*/
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute; /* relative to FAQ */
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

.faq-toggle:focus {
  outline: 0;/* Fwont see the button shape on focus*/
}

/* FAQ with x button no active*/
.faq-toggle .fa-times {
  display: none;
}
/* FAQ with x button active*/
.faq.active .faq-toggle .fa-times {
  color: #fff;
  display: block;
}
/* FAQ with chevron button no active*/
.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}
/* FAQ with x button grey if toggle active*/
.faq.active .faq-toggle {
  background-color: #9fa4a8;
}
