@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #efefbb;
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h1 {
  letter-spacing: 3px;
}

/* wraps all the cards */
.poke-container {
  /* turn flex items into a row */
  display: flex;
  /* if out of container, wraps to next line */
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

/* each card class pokemon */
.pokemon {
  background-color: #eee;
  border-radius: 10px;
/* surround the card */
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  /* card spaced apart */
  margin: 10px;
  padding: 20px;
  text-align: center;
}

/* image container inside the card */
.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}

.pokemon .img-container img {
  /* 90% of image in container */
  max-width: 90%;
  /* space from the top */
  margin-top: 20px;
}

.pokemon .info {
  /* Push bottom info down 20px */
  margin-top: 20px;
}

/* Pokemon number */
.pokemon .info .number {
  /* transparent background look */
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
  /* smaller than wrapper size */
  font-size: 0.8em;
}

.pokemon .info .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}
