@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #8e44ad;
  color: #fff;
  font-family: 'Roboto Mono', sans-serif;
  /* all align horizontal */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.counter-container {
  display: flex; /* x3 all align*/
  flex-direction: column; /* all align each vertical per Social*/
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}
/* text that will increment*/
.counter {
  font-size: 60px;
  margin-top: 10px;
}
/* resolution under 580  from row to column*/
@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
