@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

canvas {
  border: 2px solid steelblue;
}

.toolbox {
  background-color: steelblue;
  border: 1px solid slateblue;
  /* all element inside displayed as flex items */
  display: flex;
  /* fill up the entire canvas */
  width: 804px;
  padding: 1rem;
}

/* all direct children of toolbox */
.toolbox > * {
  /* all in white box */
  background-color: #fff;
  border: none;
  display: inline-flex;
   /* all same level */
  align-items: center;
  /* all same level */
  justify-content: center;
  /* bigger font size */
  font-size: 2rem;
  /* each in a square */
  height: 50px;
  width: 50px;
  /* external space */
  margin: 0.25rem;
  /* internal button space */
  padding: 0.25rem;
  cursor: pointer;
}
/* last  element, X, pushed over to the side */
.toolbox > *:last-child {
  margin-left: auto;
}
